@font-face {
    font-family: 'I AM A PLAYER';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/IAMAPLAYER/IAMAPLAYER.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/IAMAPLAYER/IAMAPLAYER.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/IAMAPLAYER/IAMAPLAYER.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/IAMAPLAYER/IAMAPLAYER.ttf') format('truetype');
}
